<div class="input">
  <label for="date">Válaszd ki foglalásod tervezett dátumát: </label>
  <input type="date" name="date" [(ngModel)]="searchDate" placeholder="Dátum keresése...">
  <app-car-list 
    [cars]="filteredCars"
    (carSelected)="reserve($event)">
  </app-car-list>
  <div class="selected">
    <app-reservation-form 
      *ngIf="showReservationForm" 
      [car]="selectedCar"
      [carName]="selectedCar?.brand + ' ' + selectedCar?.model"
      (formSubmitted)="onSubmit($event)">
    </app-reservation-form>
  </div>
</div>



<div *ngIf="reservedCars.length > 0">
  <h3 class="">Lefoglalt autók:</h3>
  <ul>
    <li class="list" *ngFor="let car of reservedCars">
      <p>Autó: {{ car.car }}</p>
      <p>Név: {{ car.name }}</p>
      <p>Email: {{ car.email }}</p>
      <p>Cím: {{ car.address }}</p>
      <p>Telefonszám: {{ car.phone }}</p>
      <p>Kezdő dátum: {{ car.startDate }}</p>
      <p>Vég dátum: {{ car.endDate }}</p>
    </li>
  </ul>
</div>


  
<router-outlet></router-outlet>
