body {
    background-color: rgb(4, 16, 42);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    padding: 10px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}